<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">Ruben
            <span class="text-primary">van der Leun</span>
        </h1>
        <div class="subheading mb-5">Freelance Software Developer | (Web)VR Evangelist | Speaker</div>
        <p>Hello. My name is Ruben van der Leun and I love Virtual Reality. If you're visiting this page, then there is a very good chance that you already knew that.</p>
        <p>This site used to have a blog with a number of items that I've been working on, but I decided to remove it, given that the last post was from two years ago. If I have the time, I'd like to have something that will make it easier for me to quickly write a post instead of having to create a separate page. Next to that, I'd like to have a page where I can quickly summarise some of the projects I've created. For now, feel free to check the links in the menu.</p>
        <!-- p>This site functions as a way for me to keep a blog containing some thoughts of mine that I believe the people have to know! If I can keep it up, it will be littered with posts about some of the stuff I have built myself, some research that I'll be doing in various methods to build VR, and other random topics. I am a bit of a casual gamer, and definitely have opinions about some that I've played(VR or not), and I will likely share some thoughts about those as well.</p>-->
        <!-- p>If you wish to know a bit more about me professionally, then there is the <a routerLink="/experience"><strong>experience</strong></a> page where I list some of the things I've worked on and frameworks I have experience with.</p -->
        <!-- Wait a second, what are you doing here, inspecting my code? Git outta here! -->
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://twitter.com/rvdleun">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rvdleun/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/rvdleun">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="mailto:ruben@leunix.nl">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
        </ul>
    </div>
</section>
