<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">Ruben
            <span class="text-primary">van der Leun</span>
        </h1>
        <div class="subheading mb-5">Freelance Software Developer,·VR Evangelist and Speaker -
            <a href="mailto:ruben@leunix.nl">ruben@leunix.nl</a>
        </div>
        <p>In development</p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://twitter.com/rvdleun">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rvdleun/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/realitylab-ruben/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
        </ul>
    </div>
</section>