.code-example {
  background-color: black;
  width: calc(100vw - 350px);
  overflow-x: auto;
  border: solid 1px white;
  color: white;

  @media only screen and (max-width: 991px) {
    width: calc(100vw - 35px);
  }
}
