.italic {
  font-style: italic;
}

h3 {
  margin-top: 40px;
}

img, .twitter-tweet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 66%;
}

.twitter-tweet {
  width: 500px;
}

.unsplash-image {
  text-align: center;
  width: 100%;

  img {
    margin-bottom: 5px;
  }

  a {
    margin-bottom: 10px;
  }
}
