iframe {
  border: none;
  width: 100%;
}

.preview {
  position: relative;

  cursor: pointer;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);

  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    border: solid 1px white;
    opacity: 1;
    color: white;
    padding: 5px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
}